# Atelier 2 

---

## Instructions

En se basant sur le fichier sql (ci-dessous) et la figure, vous devez réaliser les étapes suivantes en utilisant les requêtes SQL. </br>

![2_schema_figure.png](2_schema_figure.png)

---

### Partie 0 - Imports et fonctions

In [ ]:
import sqlite3 as sq
import mysql.connector as cnt

def connect_db(host, user, pswd, database = None):
    db = cnt.connect(
        host = host,
        user = user,
        passwd = pswd,
        database = database
    )
    return(db)

def exe(db, request, value = None, verbose = False, name = False):
    cursor = db.cursor(buffered = True)
    
    if value:
        cursor.execute(request, value)

    else :
        cursor.execute(request)

    db.commit()
    
    if verbose:
        result = cursor.fetchall()
        if name:
            result.insert(0, cursor.column_names)
        return(result)

---

###  Partie 1 - création de la base et des tables :

Réaliser ces actions directement avec des requêtes SQL

#### 1.1/ créer une nouelle base données nommée atelier2

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu')

query = 'CREATE DATABASE IF NOT EXISTS atelier2'

exe(db, query)

#### 1.2/ Imiter les requêtes du fichier sql shema pour créer les tables et les remplir.

```

CREATE TABLE Departments (
  Code INTEGER PRIMARY KEY,
  Name varchar(255) NOT NULL ,
  Budget decimal NOT NULL 
);

CREATE TABLE Employees (
  SSN INTEGER PRIMARY KEY,
  Name varchar(255) NOT NULL ,
  LastName varchar(255) NOT NULL ,
  Department INTEGER NOT NULL , 
  foreign key (department) references Departments(Code) 
);

INSERT INTO Departments(Code,Name,Budget) VALUES(14,'IT',65000);
INSERT INTO Departments(Code,Name,Budget) VALUES(37,'Accounting',15000);
INSERT INTO Departments(Code,Name,Budget) VALUES(59,'Human Resources',240000);
INSERT INTO Departments(Code,Name,Budget) VALUES(77,'Research',55000);

INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('123234877','Michael','Rogers',14);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('152934485','Anand','Manikutty',14);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('222364883','Carol','Smith',37);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('326587417','Joe','Stevens',37);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('332154719','Mary-Anne','Foster',14);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('332569843','George','ODonnell',77);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('546523478','John','Doe',59);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('631231482','David','Smith',77);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('654873219','Zacary','Efron',59);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('745685214','Eric','Goldsmith',59);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('845657245','Elizabeth','Doe',14);
INSERT INTO Employees(SSN,Name,LastName,Department) VALUES('845657246','Kumar','Swamy',14);

```

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

queries = ["""
    CREATE TABLE IF NOT EXISTS Departments (
        Code INTEGER PRIMARY KEY,
        Name varchar(255) NOT NULL ,
        Budget decimal NOT NULL 
    )ENGINE = InnoDB;
"""]

queries.append("""
    CREATE TABLE IF NOT EXISTS Employees (
        SSN INTEGER PRIMARY KEY,
        Name varchar(255) NOT NULL ,
        LastName varchar(255) NOT NULL ,
        Department INTEGER NOT NULL , 
        foreign key (department) references Departments(Code) 
    )ENGINE = InnoDB;
""")

queries.append("""
    INSERT INTO Departments (Code,Name,Budget) 
    VALUES 
        (14,'IT',65000), 
        (37,'Accounting',15000),
        (59,'Human Resources',240000), 
        (77,'Research',55000)
    ;
""")

queries.append("""
    INSERT INTO Employees (SSN,Name,LastName,Department) 
    VALUES  
        ('123234877', 'Rogers', 'Michael', 14),
        ('152934485', 'Manikutty', 'Anand', 14),
        ('222364883', 'Carol', 'Smith', 37),
        ('326587417', 'Stevens', 'Joe', 37),
        ('332154719','Foster', 'Mary-Anne', 14),
        ('332569843', 'ODonnell', 'George', 77),
        ('546523478', 'Doe', 'John', 59),
        ('631231482', 'Smith', 'David', 77),
        ('654873219', 'Efron', 'Zacary', 59),
        ('745685214', 'Goldsmith', 'Eric', 59),
        ('845657245', 'Doe', 'Elizabeth', 14),
        ('845657246', 'Swamy', 'Kumar', 14)
    ;
""")

for query in queries:
    exe(db, query)

---

###  Partie 2 - réaliser une sélection de données :

#### 2.1/ Sélectionnez le nom de famille de tous les employés.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT Name
    FROM Employees
"""

responses = exe(db, query, verbose = True)

print(f"Noms des employees : {[response[0] for response in responses]}")

#### 2.2/ Sélectionnez le nom de famille de tous les employés, sans doublons. (utiliser DISTINCT)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT DISTINCT(Name) 
    FROM Employees
"""

responses = exe(db, query, verbose = True)

print(f"Noms des employees : {[response[0] for response in responses]}")

#### 2.3/ Sélectionnez toutes les données des employés dont le nom de famille est "Smith".

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT * 
    FROM Employees
    WHERE Name = 'Smith';
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 2.4/ Sélectionnez toutes les données des employés dont le nom de famille est "Smith" ou "Doe".(utiliser la logique dans la requête : https://sql.sh/cours/where/and-or

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT * 
    FROM Employees
    WHERE Name = 'Smith' OR Name = 'Doe';
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 2.5/ Sélectionnez toutes les données des employés qui travaillent dans le département 14.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT * 
    FROM Employees
    WHERE Department = 14;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 2.6/ Sélectionner toutes les données des employés qui travaillent dans le département 37 ou le département 77.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT * 
    FROM Employees
    WHERE Department = 37 OR Department = 77;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 2.7/ Sélectionner toutes les données des employés dont le nom de famille commence par un "S". Indice :

Utiliser LEFT : https://sql.sh/fonctions/left </br>
Utiliser SUBSTRING : https://sql.sh/fonctions/substring

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT * 
    FROM Employees
    WHERE LEFT(Name, 1) = 'S';
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 2.8/ Sélectionner la somme des budgets de tous les départements. (Utiliser SUM)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT SUM(Budget)
    FROM Departments;
"""

responses = exe(db, query, verbose = True)

print(f"Somme des budgets de tous les départements : {responses[0][0]:,}$")

#### 2.9/ Sélectionnez le nombre d'employés dans chaque département (vous devez seulement indiquer le code du département et le nombre d'employés). (utiliser GROUP BY)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier2")

query = """
    SELECT Department, COUNT(Name)
    FROM Employees
    GROUP BY Department;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"Nombre d'employées dans le departement N°{response[0]} : {response[1]}")

---

### Partie 3 - Utiliser les jointures :

#### 3.1/ Sélectionnez toutes les données des employés, y compris les données du département de chaque employé. Utiliser INNER JOIN.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    SELECT *
    FROM Employees
    INNER JOIN Departments ON Employees.Department = Departments.Code;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 3.2/ Sélectionnez le nom et le prénom de chaque employé, ainsi que le nom et le budget du département de l'employé. Utiliser INNER JOIN

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    SELECT Employees.Name, LastName, Departments.Name, Budget
    FROM Employees
    INNER JOIN Departments ON Employees.Department = Departments.Code;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 3.3/ Sélectionnez le nom et le nom de famille des employés travaillant pour des ministères dont le budget est supérieur à 60 000 dollars. Utiliser INNER JOIN

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    SELECT Employees.Name, LastName, Budget
    FROM Employees
    INNER JOIN Departments ON Employees.Department = Departments.Code
    HAVING Budget > 60000;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 3.4/ Sélectionnez les noms des départements ayant plus de deux employés. (Utiliser HAVING)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    SELECT Departments.Name
    FROM Departments
    INNER JOIN Employees ON Departments.Code = Employees.Department
    GROUP BY Departments.Name
    HAVING COUNT(Employees.Department) > 2;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response[0]}\n")

----

###  Partie 4 - réaliser des insertions/mis à jour dans les tables :

#### 4.1/ Ajoutez un nouveau service appelé "Quality assurance", avec un budget de 40 000 dollars et le code de service 11.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    INSERT INTO Departments VALUES (11, 'Quality assurance', 40000);
"""

responses = exe(db, query)

#### 4.2/ Ajoutez un employé appelé "Mary Moore" dans ce département, avec le code  SSN 847-21-9811.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    INSERT INTO Employees VALUES (847219811, 'Moore', 'Mary', 11);
"""

responses = exe(db, query)

#### 4.3/ Réduire le budget de tous les départements de 10 pourcent.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    UPDATE Departments SET Budget = Budget * 0.9;
"""

responses = exe(db, query)

#### 4.4/ Réaffecter tous les employés du département de la recherche (code 77) au département informatique (code 14).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    UPDATE Employees
    SET Department = 14
    WHERE  Department = 77;
"""

responses = exe(db, query)

#### 4.5/ Supprimer du tableau tous les employés du département informatique (code 14).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    DELETE FROM Employees
    WHERE  Department = 14;
"""

responses = exe(db, query)

#### 4.6/ Supprimer du tableau tous les employés qui travaillent dans des départements dont le budget est supérieur ou égal à 60 000 dollars. Utiliser INNER JOIN

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    DELETE Employees
    FROM Employees
    INNER JOIN Departments ON Departments.Code = Employees.Department
    WHERE Departments.Budget >= 60000;
"""

responses = exe(db, query)

#### 4.7/ Supprimer du tableau tous les employés.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    DELETE FROM Employees
"""

responses = exe(db, query)

---

###  Partie 5 - BONUS :

#### 5.1/ Sélectionnez les départements dont le budget est supérieur au budget moyen de l'ensemble des départements. (Se référer au bonus de l'atelier 1).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    SELECT Name 
    FROM Departments 
    WHERE Budget > (SELECT AVG(Budget) FROM Departments);
"""

responses = exe(db, query, verbose= True)

for response in responses:
    print(f"{response[0]}\n")

#### 5.2/ Très important - Sélectionnez le nom et le nom de famille des employés travaillant pour les ministères dont le budget est le deuxième plus bas. (Utiliser les requêtes imbriquées ou HAVING)

In [ ]:
# Rajout des employées précédemment supprimés 

db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

queries = ["""
    INSERT INTO Employees (SSN,Name,LastName,Department) 
    VALUES  
        ('123234877', 'Rogers', 'Michael', 14),
        ('152934485', 'Manikutty', 'Anand', 14),
        ('222364883', 'Carol', 'Smith', 37),
        ('326587417', 'Stevens', 'Joe', 37),
        ('332154719','Foster', 'Mary-Anne', 14),
        ('332569843', 'ODonnell', 'George', 77),
        ('546523478', 'Doe', 'John', 59),
        ('631231482', 'Smith', 'David', 77),
        ('654873219', 'Efron', 'Zacary', 59),
        ('745685214', 'Goldsmith', 'Eric', 59),
        ('845657245', 'Doe', 'Elizabeth', 14),
        ('845657246', 'Swamy', 'Kumar', 14)
    ;
"""]

queries.append("""
    INSERT INTO Employees VALUES (847219811, 'Moore', 'Mary', 11);
""")

for query in queries:
    exe(db, query)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier2')

query = """
    SELECT Employees.Name, LastName
    FROM Employees
    INNER JOIN Departments ON Departments.Code = Employees.Department
    WHERE Budget = (
        SELECT MIN(Budget) From Departments WHERE Budget > (SELECT MIN(Budget) From Departments)
    );
"""

responses = exe(db, query, verbose= True)

for response in responses:
    print(f"{response}\n")