# Projet 5 - Students

---

Voici la présentation du jeu de données :

- `ID_etudiant` : Le matricule des étudiants
- `Genre` : Le genre des étudiants
- `Groupe.TP` : Le groupe de travaux pratiques
- `Groupe.TD` : Le groupe de travaux dirigés
- `QUIZ#` : Le score du quiz numéro #
- `TP#` : La note au TP numéro #

---
---

## Exercice 1 : Importer les données

---

### a. Importer le jeu de données `students_results.csv` avec la fonction `read.csv()`.

In [ ]:
df <- read.csv2("students_results.csv")
df

---

### b. Combien de lignes, colonnes sont présentes dans ce dataset (utilisez les fonctions adaptées) ?

In [ ]:
sprintf("Nombre de lignes: %s", dim(df)[1])
sprintf("Nombre de colonnes: %s", dim(df)[2])

---

### c. Afficher le nom des colonnes.

In [ ]:
writeLines(sprintf("Nom colonne %s: %s", 1:9, colnames(df)))

---

### d. Afficher le type des colonnes avec la fonction adaptée.

In [ ]:
sapply(df, class)

---

### e. Afficher un résumé des données avec la fonction adaptée.

In [ ]:
summary(df)

---

### f. On souhaite analyser les variables `Groupe.TP` et `Groupe.TD` en tant que variables qualitatives. Modifier le type de ces variables pour les transformer en type factor.

In [ ]:
names <- c('Groupe.TP', 'Groupe.TD')
df[names] <- lapply(df[names], factor)

---
---

## Exercice 2 : Statistiques descriptives

---

### a. Ajouter une colonne appelée `TOTAL_QUIZ` qui correspond à la somme des notes des quiz.

```{r, echo=FALSE}
df$TOTAL_QUIZ <- df$QUIZ1 + df$QUIZ2
```

In [ ]:
df$TOTAL_QUIZ <- df$QUIZ1 + df$QUIZ2
df

---

### b. Déterminer la moyenne du score total des quiz. Proposez un graphique adapté pour visualiser la distribution de tous les scores totaux des étudiants.

In [ ]:
sprintf("Moyenne du score total des quiz : %s", round(mean(na.omit(df$TOTAL_QUIZ)), 2))

In [ ]:
barplot(
    df$TOTAL_QUIZ, 
    ylab="Score", 
    main = "Score total des quiz par étudiant", 
    ylim = c(0,80000),
)

---

### c. Déterminer les déciles des notes du TP4. Proposez un autre graphique pour visualiser la distribution des notes des étudiants au TP4.

In [ ]:
deciles <- c('10%' ,'20%', '30%', '40%', '50%', '60%' ,'70%', '80%', '90%')
writeLines(sprintf("Décile %s des notes du TP4 : %s", deciles, quantile(na.omit(df$TP4), probs = seq(.1, .9, by = .1))))

In [ ]:
barplot(
    df$TP4, 
    ylab="Score", 
    main = "Score total des quiz par étudiant", 
    ylim = c(0,20)
)

---

### d. Déterminer le nombre d'étudiants par groupe de TP. Proposez un graphique adapté pour visualiser cette répartition par groupe.

In [ ]:
result <- as.numeric(lapply(unique(df$Groupe.TP), function(x) nrow(df[df$Groupe.TP == x,])))

In [ ]:
barplot(
    result,
    names.arg = 1:length(result),
    ylim = c(0,20),
    col = c("darkred")
)

---

### e. Déterminer le nombre d'étudiants par genre. Proposez un autre graphique pour visualiser cette répartition par genre.

In [ ]:
result <- as.numeric(lapply(unique(df$Genre), function(x) nrow(df[df$Genre == x,])))

In [ ]:
barplot(
    result,
    names.arg = c("Femme", "Homme"),
    ylim = c(0,50),
    col = c("darkred")
)

---
---

## Exercice 3 : Qui sont les meilleurs ?

---

### a. Proposer un graphique adapté pour visualiser la distribution du score total aux quiz par genre.

In [ ]:
plot(
    df$Genre, 
    df$TOTAL_QUIZ,
    main = "Distribution du score total aux quiz par genre",
    xlab = "Genre", 
    ylab = "Score", 
    col = "darkred"
)

---

### b. Calculer la moyenne du score total aux quiz par genre.

In [ ]:
avg_m <- mean(na.omit(df[df$Genre == 'H',]$TOTAL_QUIZ))
avg_f <- mean(na.omit(df[df$Genre == 'F',]$TOTAL_QUIZ))

result <- data.frame(Genre = unique(df$Genre), Avg_Score = c(avg_f, avg_m))
result

---

### c. Proposer un graphique adapté pour visualiser la distribution du score total aux quiz par groupe de TP.

In [ ]:
sum(na.omit(df[df$Groupe.TP == 2,]$TOTAL_QUIZ))

In [ ]:
result <- as.numeric(lapply(unique(df$Groupe.TP), function(x) sum(na.omit(df[df$Groupe.TP == x,]$TOTAL_QUIZ))))
barplot(
    result,
    names.arg = unique(df$Groupe.TP),
    main = "Distribution du score total aux quiz par groupe de TP",
    xlab = "Groupe", 
    ylab = "Score", 
    ylim = c(0,900000),
    col = c("darkred")
)

---

### d. Calculer la moyenne du score total aux quiz par groupe de TP.

In [ ]:
result <- lapply(unique(df$Groupe.TP), function(x) mean(na.omit(df[df$Groupe.TP == x,]$TOTAL_QUIZ)))
result

---

### e. On souhaite visualiser avec un graphique adapté le score total aux quiz uniquement des 5 meilleurs étudiants.

In [ ]:
result <- df[order(-df$TOTAL_QUIZ),]

barplot(
    
    result[1:5,]$TOTAL_QUIZ,
    names.arg = result[1:5,]$ID_etudiant,
    main = "Score total aux quiz uniquement des 5 meilleurs étudiants",
    xlab = "ID", 
    ylab = "Score", 
    col = "darkred",
    ylim = c(0, 80000)
)

---

### f. On souhaite conserver les lignes uniquement des 3 meilleur(e)s étudiant(e)s du groupe de TP 1.

In [ ]:
result <- df[order(-df[df$Groupe.TP == 1,]$TOTAL_QUIZ),][(1:3),]
result