# Tester les requêtes

Cliquer sur la base sur laquelle la requête doit être effectuée (choisir une des deux tables, peu importe). Ensuite, dans l’onglet SQL il est possible de rentrer n’importe quelle requête SQL. Il est également possible d’avoir des requêtes déjà formatées en cliquant sur les différents boutons de requêtes en bas. Dans la colonne de droite, il y a les champs que l’on peut utiliser. En double cliquant dessus, le champ s’écrit dans la requête de manière déjà formatée. <br><br>

Après avoir exécuté les deux requêtes précédentes (SELECT et UPDATE) ajouter manuellement les entrées suivantes dans la table utilisateur (Login:pssword:superuser) :
- User10:password10:0
- User20:password20:0
- User30:password30:1
- User40:password40:1
- User50:password50:0
- User60:password60:1

In [ ]:
INSERT INTO `utilisateurs` (`Id`, `Login`, `Password`, `superUser`) VALUES (NULL, 'user10', 'password10', '0'), (NULL, 'user20', 'password20', '0'), (NULL, 'user30', 'password30', '1'), (NULL, 'user40', 'password40', '1'), (NULL, 'user50', 'password50', '0'), (NULL, 'user60', 'password60', '1');

![Image](Images/BDD_1.jpg)

Dans la table IMC (nom:prenom:taille:poids:genre:IMC) :

Si vous choisissez de coder le genre avec un seul caractère, alors remplacer le genre par la lettre que vous avez choisie (ex : homme = h ; femme = f). Si vous choisissez de le coder avec un chiffre alors homme=0 et femme=1 par exemple, ou l’inverse. <br>

Dans les entrées ci-dessous, « NULL » ne veut pas dire écrire « NULL » dans la case. Le champ doit pouvoir être NULL, il faut pour cela retourner dans la structure de la table et autoriser ce champ à être NULL (cocher la case null). <br>

- Nom30:prenom30:130:50:homme:NULL
- Nom40:prenom40:140:60:femme:NULL
- Nom50:prenom50:150:70:femme:NULL
- Nom60:prenom60:160:80:homme:NULL
- Nom65:prenom65:165:80:femme:NULL
- Nom68:prenom68:168:80:homme:NULL
- Nom70:prenom70:170:90:homme:NULL
- Nom80:prenom80:180:100:homme:NULL
- Nom90:prenom90:190:110:femme:NULL

In [ ]:
ALTER TABLE `IMC` CHANGE `IMC` `IMC` DOUBLE NULL; 

INSERT INTO `IMC` (`nom`, `prenom`, `taille`, `poids`, `genre`, `IMC`) VALUES ('nom30', 'prenom30', 130, 50, 0, NULL), ('nom40', 'prenom40', 140, 60, 1, NULL) , ('nom50', 'prenom50', 150, 70, 1, NULL) , ('nom60', 'prenom60', 160, 80, 0, NULL) , ('nom65', 'prenom65', 165, 80, 1, NULL) , ('nom68', 'prenom68', 168, 80, 0, NULL) , ('nom70', 'prenom70', 170, 90, 0, NULL) , ('nom80', 'prenom80', 180, 100, 0, NULL) , ('nom90', 'prenom90', 190, 110, 1, NULL);

![Image](Images/BDD_2.jpg)

---
---

## Pour les questions suivantes, trouver les requêtes SQL permettant de faire l’action voulue. 
Vous pouvez vous aider d’internet.

---

### Q1) Sélectionner toutes les lignes de la table ‘utilisateurs’.

In [ ]:
SELECT * FROM `utilisateurs` WHERE 1

![Image](Images/BDD_3.jpg)

---

### Q2) Sélectionner toutes les lignes de la table ‘IMC’.

In [ ]:
SELECT * FROM `IMC` WHERE 1

![Image](Images/BDD_4.jpg)

---

### Q3) Sélectionner toutes les lignes de la table ‘utilisateurs’ et ‘IMC’ à la fois.

In [ ]:
SELECT * FROM `utilisateurs`, `IMC` WHERE 1

![Image](Images/BDD_5.jpg)

---

### Q4) Sélectionner tous les utilisateurs qui sont super utilisateurs.

In [ ]:
SELECT * FROM `utilisateurs` WHERE `superUser` = 1

![Image](Images/BDD_6.jpg)

---

### Q5) Sélectionner toutes les personnes qui pèsent plus de 65 Kg.

In [ ]:
SELECT * FROM `IMC` WHERE `poids` > 65

![Image](Images/BDD_8.jpg)

---

### Q6) Sélectionner toutes les personnes qui mesurent moins de 175cm ET qui pèsent plus de 62 Kg.

In [ ]:
SELECT * FROM `IMC` WHERE `taille` < 175 AND `poids` > 62

![Image](Images/BDD_9.jpg)

---

### Q7) Mettre l’IMC de toutes les personnes qui pèsent 80Kg à la valeur 20.

In [ ]:
UPDATE `IMC` SET `IMC`.`IMC` = 20 WHERE `IMC`.`poids` = 80

![Image](Images/BDD_10.jpg)

---

### Q8) Supprimer de la table IMC la personne dont le nom est NOM80.

In [ ]:
DELETE FROM `IMC` WHERE `IMC`.`nom` = 'nom80'

![Image](Images/BDD_11.jpg)

---

### Bonus : Calcul de L'IMC

In [ ]:
UPDATE IMC
SET IMC = poids / ((taille / 100) * (taille / 100));

![Image](Images/BDD_12.jpg)