# Atelier 1 

---

Rappel: une étape primordiale consiste à créer les fonctions "Connexion" et "Execution" qui permettent de se connecter à la base et executer des requêtes, respectivement. 
Nous allons appliquer ces fonctions pour répondre aux différentes questions de ce brief! 

---

## Instructions
A partir du schéma, vous devez réaliser les étapes suivantes en utilisant les requêtes SQL.
Vous utiliserez le lien suivant pour trouver les fonctions à utiliser dans vos requêtes SQL : https://sql.sh/cours

![1_schema_figure.png](1_schema_figure.png)

---

### Partie 0 - Imports et fonctions

In [ ]:
import sqlite3 as sq
import mysql.connector as cnt

def connect_db(host, user, pswd, database = None):
    db = cnt.connect(
        host = host,
        user = user,
        passwd = pswd,
        database = database
    )
    return(db)

def exe(db, request, value = None, verbose = False, name = False):
    cursor = db.cursor(buffered = True)
    
    if value:
        cursor.execute(request, value)

    else :
        cursor.execute(request)

    db.commit()
    
    if verbose:
        result = cursor.fetchall()
        if name:
            result.insert(0, cursor.column_names)
        return(result)

---

### Partie 1 - création de la base et des tables :

#### 1.1/ Créer la base donnée sous nom "boutique".

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu')

query = 'CREATE DATABASE IF NOT EXISTS boutique'

exe(db, query)

#### 1.2/  Créer les tables (Manufacturers, Products). 
Sur le schéma, (PK) signifie "Primary Key" ou clé primaire et (FK) signifie "Foreign key" ou clé étrangère.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

queries = ["""
    CREATE TABLE IF NOT EXISTS boutique.Manufacturers(
        Code INT NOT NULL AUTO_INCREMENT,
        Name TEXT NOT NULL,
        PRIMARY KEY (Code)
    )ENGINE = InnoDB;
"""]

queries.append("""
    CREATE TABLE IF NOT EXISTS boutique.Products(
        Code INT NOT NULL AUTO_INCREMENT,
        Name TEXT NOT NULL,
        Price REAL NOT NULL,
        Manufacturer INT,
        PRIMARY KEY (Code)
    )ENGINE = InnoDB;
""")

queries.append("""
ALTER TABLE Products 
ADD FOREIGN KEY (Manufacturer) REFERENCES Manufacturers (Code);
""")

for query in queries:
    exe(db, query)

#### 1.3/ Insérer dans la table Manufacturers les valeurs :

(Code, Name)(1,Sony)(2,Creative Labs)(3,Hewlett-Packard)(4,Iomega)(5,Fujitsu)(6,Winchester)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    INSERT INTO Manufacturers VALUES 
        (1, 'Sony'), 
        (2, 'Creative Labs'), 
        (3, 'Hewlett-Packard'), 
        (4, 'Iomega'), 
        (5, 'Fujitsu'), 
        (6, 'Winchester');
"""

exe(db, query)

#### 1.4/ Insérer dans la table Products : 
(Code,Name,Price,Manufacturer) (1,Hard drive,240,5) (2,Memory,120,6) (3,ZIP drive,150,4) (4,Floppy disk,5,6) (5,Monitor,240,1) (6,DVD drive,180,2) VALUES(7,CD drive,90,2) VALUES(8,Printer,270,3) (9,Toner cartridge,66,3) (10,DVD burner,180,2).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    INSERT INTO Products VALUES 
        (1, 'Hard drive', 240, 5),
        (2, 'Memory', 120, 6), 
        (3, 'ZIP drive', 150, 4), 
        (4, 'Floppy disk', 5, 6), 
        (5, 'Monitor', 240, 1), 
        (6, 'DVD drive', 180, 2), 
        (7, 'CD drive', 90, 2), 
        (8, 'Printer', 270, 3), 
        (9, 'Toner cartridge', 66, 3), 
        (10, 'DVD burner', 180, 2);
"""

exe(db, query)

---

### Partie 2 - faire des requêtes de sélection :

#### 2.1/ Sélectionnez les noms de tous les produits du magasin.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Name from Products;
"""

responses = exe(db, query, verbose = True)

print(f"Noms des produits du magasin : {[response[0] for response in responses]}")

#### 2.2/ Sélectionner les noms et les prix de tous les produits du magasin.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Name, Price from Products;
"""

responses = exe(db, query, verbose = True)

print(f"Noms et prix des produits du magasin : {[response for response in responses]}")

#### 2.3/ Sélectionner le nom des produits dont le prix est inférieur ou égal à 200 dollars.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Name from Products WHERE Price <= 200;
"""

responses = exe(db, query, verbose = True)

print(f"Noms des produits dont le prix est inférieur à 200$ : {[response[0] for response in responses]}")

#### 2.4/ Sélectionnez tous les produits dont le prix est compris entre 60 et 120 dollars.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Name from Products WHERE Price <= 120 AND Price >= 60;
"""

responses = exe(db, query, verbose = True)

print(f"Noms des produits dont le prix est compris entre 60$ et 120$ : {[response[0] for response in responses]}")

#### 2.5/ Sélectionnez le nom et le prix en cents (c'est-à-dire que le prix doit être multiplié par 100).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Name, Price * 100 from Products;
"""

responses = exe(db, query, verbose = True)

print(f"Noms et prix en cent des produits du magasin : {[response for response in responses]}")

#### 2.6/ Sélectionner le nom et le prix de tous les produits dont le prix est supérieur ou égal à 180 dollars, et trier d'abord par prix (par ordre décroissant), puis par nom (ordre croissant).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Name, Price from Products WHERE Price >= 180 ORDER BY Price DESC;
"""

responses = exe(db, query, verbose = True)

print(f"Noms et prix des produits dont le prix est supérieur à 180$ : {[response for response in responses]}\n")

query = """
    SELECT Name, Price from Products WHERE Price >= 180 ORDER BY Name;
"""

responses = exe(db, query, verbose = True)

print(f"Noms et prix des produits dont le prix est supérieur à 180$ : {[response for response in responses]}")

#### 2.7/ Sélectionnez le prix moyen des produits de chaque fabricant, en indiquant uniquement le code du fabricant. (Utiliser GROUP BY pour regrouper les constructeurs)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Manufacturer, AVG(Price) FROM Products GROUP BY Manufacturer;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"Prix moyen des produits du fabricant {response[0]} : {response[1]}")

#### 2.8/ Sélectionnez le nom et le prix du produit le moins cher. (Utiliser la fonction MIN).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Name, MIN(Price) from Products;
"""

responses = exe(db, query, verbose = True)

print(f"Nom et prix du produit le moins cher : {[response for response in responses]}")

---

### Partie 3 - calculs statistiques sur les tables :

#### 3.1/ Calculer le prix moyen de tous les produits. (Utiliser la fonction Average AVG)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT AVG(Price) from Products;
"""

responses = exe(db, query, verbose = True)

print(f"Prix moyen d'un produit : {responses[0][0]}")

#### 3.2/ Calculer le prix moyen de tous les produits dont le code fabricant est égal à 2.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT AVG(Price) from Products WHERE Manufacturer = 2;
"""

responses = exe(db, query, verbose = True)

print(f"Prix moyen d'un produit du fabicant n°2: {responses[0][0]}")

#### 3.3/ Calculer le nombre de produits dont le prix est supérieur ou égal à 180 dollars. (Utiliser la fonction COUNT).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT COUNT(Price) from Products WHERE Price >= 180;
"""

responses = exe(db, query, verbose = True)

print(f"Nombre de produits dont le prix est supérieur à 180$ : {responses[0][0]}\n")

---

### Partie 4 - jointures :

Pour sélectionner des colonnes (champs) dans plusieurs tables en une seules requête, il faut utiliser les jointures. C'est à dire que l'on spécifie dans la requête les tables à utiliser et la condition pour que les lignes soient sélectionnées. On utiliser la clause JOIN de SQL.

#### 4.1/ Lire le cours sur les jointures : https://sql.sh/cours/jointures

#### 4.2/ Sélectionnez toutes les données des produits, y compris toutes les données relatives au fabricant de chaque produit. (Utiliser INNER JOIN)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT *
    FROM Products
    INNER JOIN Manufacturers ON Products.Manufacturer = Manufacturers.Code;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 4.3/ Sélectionnez le nom du produit, le prix et le nom du fabricant de tous les produits. (Utiliser INNER JOIN).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Products.Name, Price, Manufacturers.Name
    FROM Products
    INNER JOIN Manufacturers ON Products.Manufacturer = Manufacturers.Code;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

#### 4.4/ Sélectionnez le nom de chaque fabricant ainsi que le nom et le prix de son produit le plus cher.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    SELECT Manufacturers.Name, Products.Name, MAX(Price)
    FROM Products
    INNER JOIN Manufacturers ON Products.Manufacturer = Manufacturers.Code
    GROUP BY Manufacturer;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}\n")

---

### Partie 5 - ajout et mis à jour :

#### 5.1/ Ajouter un nouveau produit: (Loudspeakers, 70 dollar, manufacter 2)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    INSERT INTO Products VALUES (NULL, 'Loudspeakers', 70, 2);
"""

responses = exe(db, query)

#### 5.2/ Mettre à jour le nom du produit 8 en "laser Print".

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    UPDATE Products SET Name = 'laser Print' WHERE Code = 8;
"""

responses = exe(db, query)

#### 5.3/ Appliquer une remise de 10 pourcent à tous les produits.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    UPDATE Products SET Price = Price * 0.9;
"""

responses = exe(db, query)

#### 5.4/ Appliquer une remise de 10 pourcent à tous les produits dont le prix est supérieur ou égal à 120 dollar.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')

query = """
    UPDATE Products SET Price = Price * 0.9 WHERE Price >= 120;
"""

responses = exe(db, query)

---

### Partie 6 - BONUS :

#### 6.1/ Sélectionnez les noms des fabricants dont les produits ont un prix moyen supérieur ou égal à 150.

Indice : il faut utiliser la requête de la question précédente. En effet, la requête de la question 16 donne en résultat une table avec deux colonnes. Le but est de faire sur cette table une nouvelle requête pour ne récupérer que les fabricants dont le prix moyen est >= à 150.

Utiliser l'instruction HAVING (https://sql.sh/cours/having) qui permet d'appliquer une condition sur les résultats sélectionnés.</br>
Utiliser la clause WITH : https://www.it-swarm-fr.com/fr/sql/exemple-de-clause-sql/1069300364/. </br>
Cette clause permet de récupérer le résultat d'une requête en tant que table, puis de faire une nouvelle requête sur celle-ci.</br>
Utiliser les requêtes imbriquées (https://sql.sh/cours/sous-requete)</br>

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'boutique')
query = """
    SELECT Manufacturers.Name, Products.Name, Price 
    FROM Products 
    INNER JOIN Manufacturers ON Products.Manufacturer = Manufacturers.Code 
    GROUP BY Manufacturer 
    HAVING (AVG(Products.Price) > 150);
"""
exe(db, query, verbose= True)

for response in responses:
    print(f"{response}\n")