# Atelier 3 

---

## Instructions

En se basant sur le fichier sql (ci-dessous) et la figure, vous devez réaliser les étapes suivantes en utilisant les requêtes SQL. </br>

![3_schema_figure.png](3_schema_figure.png)

Vous utiliserez le lien suivant pour trouver les fonctions à utiliser dans vos requêtes SQL : https://sql.sh/cours </br>
En se basant sur le fichier sql shema et shema figure:

---

### Partie 0 - Imports et fonctions

In [ ]:
import sqlite3 as sq
import mysql.connector as cnt

def connect_db(host, user, pswd, database = None):
    db = cnt.connect(
        host = host,
        user = user,
        passwd = pswd,
        database = database
    )
    return(db)

def exe(db, request, value = None, verbose = False, name = False):
    cursor = db.cursor(buffered = True)
    
    if value:
        cursor.execute(request, value)

    else :
        cursor.execute(request)

    db.commit()
    
    if verbose:
        result = cursor.fetchall()
        if name:
            result.insert(0, cursor.column_names)
        return(result)

---

### Partie 1 - création de la base et des tables :

#### 1.1/ Créer une base données nommé Atelier3

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu')

query = 'CREATE DATABASE IF NOT EXISTS atelier3'

exe(db, query)

#### 1.2/ Imiter les requêtes dans le fichier sql shema pour créer les tables et importer les données

```

CREATE TABLE Warehouses (
   Code INTEGER NOT NULL,
   Location VARCHAR(255) NOT NULL ,
   Capacity INTEGER NOT NULL,
   PRIMARY KEY (Code)
 );
CREATE TABLE Boxes (
    Code CHAR(4) NOT NULL,
    Contents VARCHAR(255) NOT NULL ,
    Value REAL NOT NULL ,
    Warehouse INTEGER NOT NULL,
    PRIMARY KEY (Code),
    FOREIGN KEY (Warehouse) REFERENCES Warehouses(Code)
 ) ENGINE=INNODB;
 
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(1,'Chicago',3);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(2,'Chicago',4);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(3,'New York',7);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(4,'Los Angeles',2);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(5,'San Francisco',8);
 
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('0MN7','Rocks',180,3);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('4H8P','Rocks',250,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('4RT3','Scissors',190,4);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('7G3H','Rocks',200,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('8JN6','Papers',75,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('8Y6U','Papers',50,3);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('9J6F','Papers',175,2);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('LL08','Rocks',140,4);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('P0H6','Scissors',125,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('P2T6','Scissors',150,2);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('TU55','Papers',90,5);

```

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier3')

queries = ["""
    CREATE TABLE IF NOT EXISTS Warehouses (
        Code INTEGER NOT NULL,
        Location VARCHAR(255) NOT NULL ,
        Capacity INTEGER NOT NULL,
        PRIMARY KEY (Code)
    )ENGINE = InnoDB;
"""]

queries.append("""
    CREATE TABLE Boxes (
        Code CHAR(4) NOT NULL,
        Contents VARCHAR(255) NOT NULL ,
        Value REAL NOT NULL ,
        Warehouse INTEGER NOT NULL,
        PRIMARY KEY (Code),
        FOREIGN KEY (Warehouse) REFERENCES Warehouses(Code)
    ) ENGINE=INNODB;
""")

queries.append("""
    INSERT INTO Warehouses VALUES 
        (1, 'Chicago', 3), 
        (2, 'Chicago', 4), 
        (3, 'New York', 7), 
        (4, 'Los Angeles', 2), 
        (5, 'San Francisco', 8);
""")

queries.append("""
INSERT INTO Boxes VALUES 
    ('0MN7', 'Rocks', 180, 3), 
    ('4H8P', 'Rocks', 250, 1), 
    ('4RT3', 'Scissors', 190, 4), 
    ('7G3H', 'Rocks', 200, 1), 
    ('8JN6', 'Papers', 75, 1), 
    ('8Y6U', 'Papers', 50, 3),
    ('9J6F', 'Papers', 175, 2),
    ('LL08', 'Rocks', 140, 4),
    ('P0H6', 'Scissors', 125, 1),
    ('P2T6', 'Scissors', 150, 2),
    ('TU55', 'Papers', 90, 5);
""")

for query in queries:
    exe(db, query)

---

### Partie 2 - réaliser une sélection de données :

#### 2.1/ Sélectionner tous les entrepôts.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT *
    FROM Warehouses;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}")

#### 2.2/ Sélectionnez toutes les cases dont la valeur est supérieure à 150 dollars.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT *
    FROM Boxes
    WHERE Value > 150;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}")

#### 2.3/ Sélectionner tous les contenus distincts dans toutes les cases.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT DISTINCT(Contents)
    FROM Boxes;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response[0]}")

#### 2.4/ Sélectionner la valeur moyenne de toutes les boîtes.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT ROUND(AVG(Value))
    FROM Boxes;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response[0]}")

#### 2.5/ Sélectionner le code de l'entrepôt et la valeur moyenne des boîtes dans chaque entrepôt (utiliser GROUP BY).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT Warehouse, ROUND(AVG(Value))
    FROM Boxes
    GROUP BY Warehouse;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"Valeur moyenne dans l'entrepot N°{response[0]} : {response[1]}")

#### 2.6/ Rajouter à la requête précédente uniquement la sélection des entrepôts où la valeur moyenne des boîtes est supérieure à 150. (Utiliser HAVING https://sql.sh/cours/having)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT Warehouse, ROUND(AVG(Value))
    FROM Boxes
    GROUP BY Warehouse
    HAVING AVG(Value) > 150;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"Valeur moyenne dans l'entrepot N°{response[0]} : {response[1]}")

---

### Partie 3 - utiliser les jointures :

#### 3.1/ Sélectionnez le code de chaque boîte, ainsi que le nom de la ville dans laquelle la boîte est située.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT Boxes.Code, Location
    FROM Boxes
    INNER JOIN Warehouses ON Warehouses.Code = Boxes.Warehouse
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}")

#### 3.2/ Sélectionnez les codes des entrepôts, ainsi que le nombre de boîtes dans chaque entrepôt (Utiliser INNER JOINN et GROUP BY).
-- Facultativement, tenez compte du fait que certains entrepôts sont vides (c'est-à-dire que le nombre de boîtes devrait apparaître comme zéro, au lieu d'omettre l'entrepôt du résultat).

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT Warehouses.Code, COUNT(Boxes.Code)
    FROM Boxes
    INNER JOIN Warehouses ON Warehouses.Code = Boxes.Warehouse
    GROUP BY Warehouses.Code
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"Nombre de boites dans l'entrepot N°{response[0]} : {response[1]}")

#### 3.3/ Sélectionnez les codes de tous les entrepôts qui sont saturés (un entrepôt est saturé si le nombre de boîtes qu'il contient est supérieur à la capacité de l'entrepôt).
Utiliser INNER JOIN, GROUP BY et HAVING.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT Warehouses.Code, COUNT(Boxes.Code), Capacity
    FROM Boxes
    INNER JOIN Warehouses ON Warehouses.Code = Boxes.Warehouse
    GROUP BY Warehouses.Code
    HAVING COUNT(Boxes.Code) > Capacity
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"L'entrepot N°{response[0]} est saturé")

#### 3.4/ Sélectionnez les codes de toutes les boîtes situées à Chicago. Utiliser INNER JOIN

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    SELECT Boxes.Code
    FROM Boxes
    INNER JOIN Warehouses ON Warehouses.Code = Boxes.Warehouse
    WHERE Location = 'Chicago'
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"La boite {response[0]} est a Chicago")

---

### Partie 4 - réaliser des insertions et modifications des tables :

#### 4.1/ Créer un nouvel entrepôt à New York avec une capacité de 3 boîtes.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier3')

query = """
    INSERT INTO Warehouses VALUES (6, 'New York', 3);
"""

responses = exe(db, query)

#### 4.2/ Créer une nouvelle boîte, avec le code "H5RT", contenant des "Papers" d'une valeur de 200 dollars, et située dans l'entrepôt 2.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier3')

query = """
    INSERT INTO Boxes VALUES ('H5RT', 'Papers', 200, 2);
"""

responses = exe(db, query)

#### 4.3/ Réduire la valeur de toutes les boîtes de 15 pourcent.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier3')

query = """
    UPDATE Boxes SET Value = Value * 0.85;
"""

responses = exe(db, query)

#### 4.4/ Retirer toutes les boîtes d'une valeur inférieure à 100 dollars.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier3')

query = """
    DELETE FROM Boxes
    WHERE  Value < 100;
"""

responses = exe(db, query)

#### 4.5/ Ajouter un indice pour la colonne "Entrepôt" dans le tableau "boîtes". (Utiliser CREATE INDEX)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = 'atelier3')

query = """
    CREATE INDEX idx_code ON Boxes (Warehouse);
"""

responses = exe(db, query)

#### 4.6/ Sélectionner tous les index existants (Utiliser la table information_schema)

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu')

query = """
    SELECT DISTINCT TABLE_NAME, INDEX_NAME
    FROM INFORMATION_SCHEMA.STATISTICS;
"""

responses = exe(db, query, verbose = True)

for response in responses:
    print(f"{response}")

---

### Partie 5 - BONUS :

#### 5.1/ Retirer toutes les boîtes des entrepôts saturés.

Indice : faire des requêtes imbriquées.

In [ ]:
db = connect_db('192.168.20.118', 'grogu', 'grogu', database = "atelier3")

query = """
    DELETE FROM Boxes
        WHERE Code = (
            SELECT Code FROM (
                SELECT Warehouses.Code AS Code1, Boxes.Code AS Code2, Capacity
                FROM Boxes
                INNER JOIN Warehouses ON Warehouses.Code = Boxes.Warehouse
                GROUP BY Warehouses.Code
                HAVING COUNT(Boxes.Code) > Capacity
            ) AS T
        );
"""

exe(db, query)